---
# tasks file for nullmailer
#
- name:     prepare config dir
  action:
    module: file
    dest:   /etc/nullmailer
    state:  directory
    mode:   0755
    owner:  root
    group:  root

- name:     configure generic mail settings
  action:
    module: template
    src:    '{{ item + ".j2" }}'
    dest:   /etc/mailname
    mode:   0644
    owner:  root
    group:  root
  with_items:
    - mailname
  notify:   restart_nullmailer

- name:     configure nullmailer
  action:
    module: template
    src:    '{{ item.name + ".j2" }}'
    dest:   /etc/nullmailer/{{ item.name }}
    mode:   '{{ item.mode |default(0644) }}
    owner:  root
    group:  root
  with_items:
    - file: adminaddr
    - file: defaultdomain
    - file: defaulthost
    - file: helohost
    - file: idhost
    - file: me
    - file: pausetime
    - file: remotes
      mode: 0600
    - file: sendtimeout
  notify:   restart_nullmailer

- name: install
  action:
    module: apt
    pkg:    nullmailer
    state:  latest

